<section class="user-section">
  <h2><%= "Name: #{@user.name}" %>
    <% unless owner(@user) %>
      <% if @user.friend?(@user)%>
        <i class="fas fa-heart"></i>
      <%else%>
      
      <%end%>
      <% if find_friend_request(@user).nil?%>
        <i class="fas fa-hand-holding-heart"></i>
        <%= button_to "Invite", friendships_path(friend_id: @user.id), class: "" %>
      <% else %>
        <% if approved(@user)%>
          <i class="fas fa-heart"></i>
        <% else %>
          <% if cancel(@user)%>
            <i class="fas fa-heart-broken"></i>
          <% else %>
            <i class="fas fa-heartbeat"></i>
          <%end%>
        <% end %>
      <% end %>
    <% end %>
  </h2>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
